local Library = loadstring(game:HttpGet("https://raw.githubusercontent.com/xHeptc/Kavo-UI-Library/main/source.lua"))()
local Window = Library.CreateLib("UNXLIZED HUB", "Ocean")

-- MAIN
local Main = Window:NewTab("Main")
local MainSection = Main:NewSection("Main")


MainSection:NewButton("Infinite yield", "FE admin commands", function()
    loadstring(game:HttpGet(('https://raw.githubusercontent.com/EdgeIY/infiniteyield/master/source'),true))()
end)

MainSection:NewButton("Super-Human", "Makes you go fast and jump high", function()
    game.Players.LocalPlayer.Character.Humanoid.WalkSpeed = 80
    game.Players.LocalPlayer.Character.Humanoid.JumpPower = 80
end)

MainSection:NewButton("Bedwars vape", "Roblox Bedwars Vape hack", function()
    loadstring(game:HttpGet("https://raw.githubusercontent.com/7GrandDadPGN/VapeV4ForRoblox/main/NewMainScript.lua", true))()
end)

MainSection:NewButton("Ninja Legends 1", "Unlock all islands and autofarm!", function()
    loadstring(game:HttpGet('https://raw.githubusercontent.com/Blackout4781/Karma-Hub/main/Ninja%20Legends'))()
end)

MainSection:NewButton("Bedwars Future", "Roblox bedwars Future hack", function()
    loadstring(game:HttpGet('https://raw.githubusercontent.com/joeengo/Future/main/loadstring.lua', true))()
end)
